.card-wrapper{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    margin: 20px;
    transform: perspective(2000px);
    transform-style: preserve-3d;
    box-shadow: inset - 300px 0px 50px rgba(0, 0, 0, 00.5);
    transition: 1s;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:9px;
}

 .card::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height:5px;
    /* background: #475b02; */
    transform-origin: bottom;
    transform:skewX(-45deg);
 }

 .card::after{
    content: '';
    position:absolute;
    top: 0;
    right: -5px;
    width:5px;
    height: 100%;
    /* background: #7ea301; */
    transform-origin: left;
    transform: skewY(-45deg);
 }

 .c-img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
 }

 .card .img-box{
    height:100% ;
    width:100% ;
    transition: 1s;
    transform-origin: left;
    position: relative;
    z-index: 1;
 }

 .card:hover .img-box{
    transform: rotateY(-135deg);
 }

 .card .detail{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    box-sizing: border-box;
    padding: 20px;
    color: white;
    z-index: -1;
    border-radius: 9px;
    overflow: hidden;
 }

 .card .detail h1{
    margin: 10px 0;
 }

 .gbtn .btn1   {
   display: inline-flex;
   position:relative;
   width: 6.5rem;
   height: 2rem;
   margin:20px;
 }

 .gbtn .btn1 a
 {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   background: rgba(255,255,255,0.05);
   box-shadow: 0 15px 35px rgba(0,0,0,0.2);
   border-top: 1px solid rgba(255,255,255,0.1);
   border-bottom:1px solid rgba(255,255,255,0.1);
   border-radius: 30px;
   color: #fff;
   z-index: 1;
   font-size: 400;
   font-weight: 300;
   letter-spacing: 1px;
   text-decoration: none;
   overflow: hidden;
   transition: 0.1s;
   backdrop-filter: blur(15px);
   
 }

 .gbtn .btn1:hover a::before
{
  transform: skewX(45deg) translateX(200%);
}
.gbtn .btn1::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width:30px;
  height:10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.1s;
  transition-delay: 0s;
}
.gbtn .btn1:hover::before
{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.1s;
}

.gbtn .btn1::after
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width:30px;
  height:10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.1s;
  transition-delay: 0s;
}
.gbtn .btn1:hover::after
{
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.1s;
}

.gbtn .btn1:nth-child(1)::before,
.gbtn .btn1:nth-child(1)::after
{
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71,
  0 0 15px #ff1f71,
  0 0 30px #ff1f71,
  0 0 60px #ff1f71;
}
.gbtn .btn1:nth-child(2)::before,
.gbtn .btn1:nth-child(2)::after
{
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff,
  0 0 15px #2bd2ff,
  0 0 30px #2bd2ff,
  0 0 60px #2bd2ff;
}