.project{
    position: relative;
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .a-project{
  color: blue;
  font-size:20px;
  text-decoration: underline;
 }
 .a-project:hover{
  text-decoration: none;
 }

 main{
    width: 97%;
    margin: 50px auto;
    /* border:1px solid black; */
    color: white;
    display: grid;
    grid-template-rows: repeat(2,50% );
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 150px;
    height:auto;
    text-align: center;
    
   }

.div1{ background: rgb(228, 177, 177); border-radius: 1rem; height:300px}
.div2{ background: rgb(177, 231, 210); border-radius: 1rem; height:300px}
.div3{ background: rgb(192, 225, 232); border-radius: 1rem; height:300px}
.div4{ background: rgb(234, 191, 211); border-radius: 1rem; height:300px}
.div5{ background: rgb(234, 234, 197); border-radius: 1rem; height:300px}
.div6{ background: rgb(235, 221, 194); border-radius: 1rem; height:300px}

main img{
    width: 100%;
    height: 11rem;
    align-self: center;
    margin-top: -2.7rem;
    border-radius: 0.6rem;
 }

 main p{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: -.5rem;
 }

 .more{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
    margin-left: 86%;
 }

 .flip-card {
    background-color: transparent;
    width: 100%;
    height: 280px;
    margin-top: 2.5rem;
    border-radius: 1rem;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 1rem;
  }

  .flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
 position: absolute; 
  width: 100%;
  height: 100%; 

}

.flip-card-front {
  
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: -.2rem;
  }

  .flip-card-back {
    background:transparent;
    color: white;
    transform: rotateY(180deg);
    z-index: -1;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1rem;
  }
  .flip-text{
    font-size: 15px;
    line-height: 1.2rem;
  }

  @media screen and (max-width: 767px) {
    .project {
     margin-top: -67rem;
      padding: 20px;
      height: 600vh;
    }
    
    .All-header {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    
    main {
      display: flex;
      flex-direction: column;
    }
    
    .card {
      width: 100%;
      margin-bottom: 30px;
    }
    
    .card-img {
      height: 200px;
    }
    
    .card-body {
      padding: 10px;
    }
    
    .card-title {
      font-size: 20px;
    }
    
    .card-link {
      font-size: 16px;
    }
    
    .card-github {
      font-size: 16px;
    }
  }