.navbar_wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.navbar_left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
.u_name {
  font-size: 1.3rem;
  font-weight: bold;
}
.navbar_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}
.navbar_list {
  flex: 10;
}
.navbar_list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.navbar_list > ul:hover {
  color: var(--blue);
  cursor: pointer;
}
.n-button {
  flex: 2;
}
